.container {
  max-width: 800px;
}
.header{
  background-color: rgb(245, 238, 238);
}
.nav-link {
  color: rgba(238, 238, 238, 0.877);
}

.nav-link.active {
  color: blue;
}

.galeria-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.card-img-top {
  object-fit: cover;
}

.header h3 i {
  margin-right: 5px;
}
